body {
  background-color: rgb(50, 50, 50);
  color: whitesmoke;
  cursor: none;
}

header {
  text-align: center;
  font-family: -apple-system;
  color: pink;
  font-size: 25px;
  text-shadow: 0 0 10px whitesmoke, 0 0 0px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

footer {
  font-size: large;
  text-align: center;
}

a {
  color: lightblue;
}

a:hover {
  color: pink;
  text-shadow: 0 0 5px black, 0 0 0px;
}

h1 {
  letter-spacing: 10px;
}

h2,
h3 {
  text-shadow: 0 0 5px black, 0 0 0px;
}

h4 {
  text-shadow: 0 0 2px black, 0 0 0px;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: darkgray;
}

#titleImage {
  border: 10px ridge pink;
  width: 300px;
}

.nextButton {
  float: right;
}

.backButton {
  float: left;
}

img.memoryImages {
  filter: blur(30px);
  display: block;
  border: 10px ridge pink;
  margin: auto;
  width: 300px;
  text-align: center;
  padding: 2.5px;
}

div#loveStatement {
  color: white;
  -webkit-text-stroke-width: 0.15px;
  -webkit-text-stroke-color: gray;
  text-shadow: 0 0 5px pink, 0 0 0px;
}

#toText {
  text-align: center;
  color: lightpink;
  font-family: -apple-system;
  text-shadow: 2px 0px black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

#fromText {
  text-align: center;
  color: cornflowerblue;
  font-family: -apple-system;
  text-shadow: 2px 0px black;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: pink;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

.likeBox {
  display: grid;
  filter: blur(10px);
  grid-template-rows: minmax(0px, 0.7fr) 2.5fr 0fr;
  float: left;
  text-align: center;
  width: 33%;
  border: 4px pink outset;
  margin-bottom: 10px;
  margin-right: 5px;
  box-sizing: border-box;
}

.likeBoxHover {
  border: 4px solid;
  border-image: conic-gradient(from var(--angle), pink, pink, pink, white) 1;
  animation: 3s rotate linear infinite;
  box-shadow: 0 0 10px #9ecaed;
  display: grid;
  filter: blur(0px);
  grid-template-rows: minmax(0px, 0.7fr) 2.5fr 0fr;
  float: left;
  text-align: center;
  width: 33%;
  margin-bottom: 10px;
  margin-right: 5px;
  box-sizing: border-box;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.videoContainer {
  text-align: center;
  border: 2px pink solid;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25%;
  height: auto;
}
